<div class="dashboard-layout">


  <!-- Cabecera -->
  <header class="dashboard-header">
    <h1>Panel de Administración</h1>

    <div class="filters">
      <label>
        Ver:
        <select [(ngModel)]="categoriaSeleccionada" (ngModelChange)="cambiarCategoria($event)">
          <option value="usuarios">Usuarios</option>
          <option value="reservas">Reservas</option>
          <option value="profesores">Profesores</option>
          <!--<option value="clases">Clases</option>-->
        </select>
      </label>

    </div>
  </header>

  <!-- Buscador -->
  <div class="search-box">
    <input type="text" placeholder="🔍 Buscar..." [(ngModel)]="busqueda" (input)="buscar()">
  </div>

  <!-- Tabla dinámica -->
  <section class="tabla-container">
    <table *ngIf="datos.length > 0">
      <thead>
      <tr>
        <th *ngFor="let col of columnasVisibles">{{ columnasBonitas[col] || col }}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of datos" (click)="abrirModal(item)" class="clickable-row">
        <td *ngFor="let col of columnasVisibles">{{ item[col] }}</td>
      </tr>
      </tbody>
    </table>

    <p *ngIf="datos.length === 0" class="no-data">No hay datos.</p>
  </section>


  <!-- Cards que aparecen solo en pantallas pequeñas -->
  <div *ngFor="let item of datos" (click)="abrirModal(item)" class="card-row">
    <div *ngFor="let col of columnasVisibles" class="card-field">
      <span class="card-field-label">{{ col }}:</span>
      <span class="card-field-value">{{ item[col] }}</span>
    </div>
  </div>





  <!-- Paginación -->
  <div class="pagination">
    <button (click)="paginaAnterior()" [disabled]="paginaActual === 0">◀︎</button>
    <span>Página {{ paginaActual + 1 }} de {{ totalPaginas }}</span>
    <button (click)="paginaSiguiente()" [disabled]="paginaActual === totalPaginas - 1">▶︎</button>
  </div>



  <div class="estadisticas-container">
    <h1 class="dashboard-title">📊 Estadísticas de visitas 📊</h1>
    <div class="cards">
      <div class="card semana">
        <h3>Última Semana</h3>
        <p class="numero">{{ estadisticas.semana }}</p>
        <span class="descripcion">personas han visitado tu web</span>
      </div>

      <div class="card mes">
        <h3>Último Mes</h3>
        <p class="numero">{{ estadisticas.mes }}</p>
        <span class="descripcion">personas han visitado tu web</span>
      </div>

      <div class="card ano">
        <h3>Último Año</h3>
        <p class="numero">{{ estadisticas.ano }}</p>
        <span class="descripcion">personas han visitado tu web</span>
      </div>

      <div class="card total">
        <h3>Total visitas</h3>
        <p class="numero">{{ estadisticas.visitas }}</p>
        <span class="descripcion">personas han visitado la web</span>
      </div>
    </div>
  </div>
</div>




