/* app.component.css */
h1 {
  color: blue;
  font-family: Arial, sans-serif;
}

.main-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  width: 25%; /* 1/4 de la pantalla */
  min-width: 200px;
}

.content {
  width: 75%;
}