<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>


<main class="login-main" [style.background-image]="'url(assets/img/entrar.jpg)'">
  <div class="login-container">
    <div class="login-header">
      <h1>Iniciar Sesión</h1>
      <p>Accede a tu cuenta para continuar</p>
    </div>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- EMAIL -->
      <div class="input-group-wrapper">
        <div class="input-group" [ngClass]="{'valid': email.valid && email.value, 'invalid': email.invalid && email.touched}">
          <i class="fas fa-envelope"></i>
          <input type="email" formControlName="email" placeholder="Correo electrónico" (input)="updateEmailCriteria(email.value)">
        </div>
        <ul class="validation-checklist">
          <li [class.valid]="emailCriteria.required">✅ Email requerido</li>
          <li [class.valid]="emailCriteria.valid">✅ Formato válido</li>
        </ul>
      </div>

      <!-- PASSWORD -->
      <div class="input-group-wrapper">
        <div class="input-group" [ngClass]="{'valid': password.valid && password.value, 'invalid': password.invalid && password.touched}">
          <i class="fas fa-lock"></i>
          <input
            [type]="passwordVisible ? 'text' : 'password'"
            formControlName="password"
            placeholder="Contraseña"
            (input)="updatePasswordCriteria(password.value)">

          <!-- ICONO OJITO -->
          <i class="toggle-eye fa"
             [class.fa-eye]="!passwordVisible"
             [class.fa-eye-slash]="passwordVisible"
             (click)="togglePasswordVisibility()">
          </i>


        </div>
        <ul class="validation-checklist">
          <li [class.valid]="passwordCriteria.hasUpper">✅ Al menos una mayúscula</li>
          <li [class.valid]="passwordCriteria.hasLower">✅ Al menos una minúscula</li>
          <li [class.valid]="passwordCriteria.hasNumber">✅ Al menos un número</li>
          <li [class.valid]="passwordCriteria.hasSpecial">✅ Un carácter especial (!&#64;#$%^&*.,)</li>
          <li [class.valid]="passwordCriteria.minLength">✅ Mínimo 8 caracteres</li>
        </ul>
      </div>

      <!-- OPCIONES -->
      <div class="options">
        <div class="remember-me">
          <a routerLink="/home" class="volver-inicio">-> Volver al inicio</a>
        </div>
        <div class="forgot-password">
          <a href="#" (click)="forgotPassword($event)">¿Olvidaste tu contraseña?</a>
        </div>

      </div>

      <div class="full-screen-notification" [class.show]="showFullScreenNotification" [ngClass]="notificationType">
        <div class="notification-content">
          <h2>{{notificationTitle}}</h2>
          <p>{{notificationMessage}}</p>
          <button type="button" (click)="closeNotification()">Ok</button>
        </div>
      </div>

      <!-- BOTÓN -->
      <button type="submit" class="login-btn">Entrar</button>

      <!-- LINK REGISTRO -->
      <div class="register-link">
        ¿No tienes una cuenta? <a [routerLink]="['/registrarse']">Regístrate aquí</a>
      </div>

    </form>
  </div>
</main>

