.juego-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  background: #000;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* CLAVE: evitar que ocupen 100% */
.row button {
  width: auto;
  display: inline-block;
  margin-top:1rem;
}

/* TITULO */
.neon-title {
  font-size: 2.5rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-shadow: 0 0 10px #e60000;
}

/* SCORE */
.score {
  margin: 0.5rem;
  font-size: 1.2rem;
}

.score.good {
  color: #00ff88;
}

/* VIDAS */
.lives {
  font-size: 1.8rem;
  margin: 0.5rem;
}

/* REPLAY */
.btn-replay {
  background: #fff;
  color: #000;
  border: 2px solid #e60000;
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.btn-replay:hover {
  background: #e60000;
  color: #fff;
}

/* TABLERO 4x2 */
.game-board {
  display: grid;
  grid-template-columns: repeat(4, 90px);
  gap: 0.7rem;
  justify-content: center;
  margin-top: 1rem;
}

/* BOTONES */
.game-btn {
  width: 90px;
  height: 90px;
  border-radius: 15px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.2s;
}

/* COLORES */
.game-btn.DO { background: #ff004c; }
.game-btn.RE { background: #ff7a00; }
.game-btn.MI { background: #ffd000; color: #000; }
.game-btn.FA { background: #00c2ff; }
.game-btn.SOL { background: #00ff88; color: #000; }
.game-btn.LA { background: #8b5cf6; }
.game-btn.SI { background: #ff00d4; }
.game-btn.DO2 { background: #fff; color: #000; }

/* CLICK */
.game-btn.active {
  transform: scale(1.2);
  filter: brightness(1.5);
}

/* BOTONES */
.btn-iniciar,
.btn-reiniciar,
.btn-todos-juegos {
  background: #e60000;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  color: #fff;
  margin: 0.5rem;
  cursor: pointer;
}

.btn-iniciar:hover,
.btn-reiniciar:hover,
.btn-todos-juegos:hover {
  transform: scale(1.05);
}
