<div class="game-container">

  <div class="game-card">

    <!-- HEADER -->
    <div class="header">
      <h2>QUIZ CIFRADO AMERICANO</h2>
      <button class="btn-exit" (click)="salirDelJuego()">⬅ Salir</button>
    </div>

    <!-- LAYOUT -->
    <div class="layout">

      <!-- IZQUIERDA -->
      <div class="left">

        <div class="ruleta">
          <div class="letra">{{ codigoActual }}</div>
        </div>

        <div class="timer">
          <div class="bar" [style.width.%]="(tiempoRestante / 10) * 100"></div>
        </div>

      </div>

      <!-- DERECHA -->
      <div class="right">

        <div class="stats">
          🎯 {{ puntuacion }} | 🔥 {{ racha }} | ⚡ x{{ multiplicador }}
        </div>

        <div class="opciones" *ngIf="juegoActivo && !juegoTerminado">

          <button class="btn"
                  *ngFor="let o of opciones"
                  (click)="verificarRespuesta(o)">
            {{ o }}
          </button>

        </div>

        <div class="mensaje" [ngClass]="mensajeClass">
          {{ mensaje }}
        </div>

      </div>

    </div>

    <!-- FINAL -->
    <div *ngIf="juegoTerminado" class="final">

      <h3>
        {{ puntuacion >= 100 ? 'GANASTE' : '¡HASTA AQUÍ LLEGAMOS! ;)' }}
      </h3>

      <button class="btn-reiniciar" (click)="reiniciarJuego()">
        Reiniciar
      </button>

    </div>

  </div>

</div>
